.preview-container{
  border: 1px solid #2f3336;
  /* background-color: #000; */
  /* color: white !important; */
  /* width: 600px; */
  margin: 25px auto;
  padding: 0 16px;
}
.avatar-pic{
  width: 48px;
  height: 48px;
  margin-right: 12px;
  border-radius: 50%;
  margin-bottom: 4px;
}
.preview-top-container{
  height: 48px;
  margin-top: 12px;
  display: flex;
  align-items: center;
}
.twitter-name-icon{
  display: flex;
  align-items: center;
}
.twitter-name{
  /* color: white; */
  font-size: 15px;
  font-weight: 700;
  margin-right: 3px;
}
.twitter-username{
  color: #6e767e;
  font-size: 15px;
}
.preview-content{
  font-size: 17px;
  margin-top: 12px;
  line-height: 28px;
  max-width: 480px;
  word-wrap: break-word;
  /* color: white; */
}
.preview-content span{
  color: rgb(29, 155, 240);
}
.preview-dates{
  display: flex;
  align-items: center;
  height: 30px;
  margin: 10px 0;
  color: #6e767e;
  font-weight: 400;
  font-size: 15px;
}
.preview-dates span:not(:last-child) {
  margin-right: 7px;
}
.preview-stats{
  height: 53px;
  display: flex;
  border-top: 1px solid #2f3336;
  align-items: center;
  font-size: 15px;
  color: #6e767e;
}

.preview-stats span:not(:last-child) {
  margin-right: 20px;
}
.preview-actions{
  height: 48px;
  display: flex;
  color: white;
  justify-content: space-around;
  border-top: 1px solid #2f3336;
  align-items: center;
}